<form action="/estudiante" method="POST">

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label">Codigo</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" name="codigoEstudiante" placeholder="Ingrese un elemento"
                required="complete la informacion">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label">Nombres</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="nombres" id="cedula" placeholder="cantidad de elementos"
                required="complete la informacion">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label">Apellidos</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="apellidos" placeholder="Ingrese una Descripcion"
                required="complete la informacion">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label">Correo</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="correo" placeholder="Ingrese una Descripcion"
                required="complete la informacion">
        </div>
    </div>

    <button type="submit" class="btn  btn-block" style="color: #02A1A4">
        AGREGAR
    </button>
</form>